{erl_opts, [{parse_transform, lager_transform}]}.
{lib_dirs,["deps","common_lib"]}.

{deps, [
     {lager, {
        git, "git://github.com/basho/lager.git", {branch,"master"}}
    },
    {jiffy, {
        git, "git://github.com/davisp/jiffy.git", {branch,"master"}}
    }
]}.

{overrides,
 [{override, jiffy, [
     {plugins, [
        { pc, {git, "git://github.com/blt/port_compiler.git", {branch, "master"}}}
     ]},

     {provider_hooks, [
         {post,
             [
             {compile, {pc, compile}},
             {clean, {pc, clean}}
             ]
          }]
      }
  ]}
]}.
